.portfolio-heading .portfolio-heading-border-1 {
  width: 10%;
  height: 1px;
  display: block;
}
.portfolio-heading .portfolio-heading-border-2 {
  width: 70%;
  height: 1px;
  display: block;
}
.portfolio-main-content .portfolio-card-wrapper .portfolio-card {
  box-shadow: 41px -36px 0px 1px #e9426324, #e942631f 0px 0px 4px 1px;
  transition: all 0.5s ease-in-out;
}
.portfolio-main-content .portfolio-card-wrapper:hover .portfolio-card {
  box-shadow: 38px -30px 0px 1px #e942635e, #e942631f 0px 0px 4px 1px;
}
.portfolio-main-content
  .portfolio-card-wrapper
  .portfolio-card
  .portfolio-card-content {
  background: linear-gradient(144deg, #e94263 0%, rgba(0, 0, 0, 0.62) 14%);
  left: 0;
  top: -16rem;
  transition: all 0.5s ease-in-out;
}
.portfolio-main-content
  .portfolio-card-wrapper:hover
  .portfolio-card
  .portfolio-card-content {
  top: 0;
}
.portfolio-main-content .portfolio-card-wrapper .portfolio-card-main-title {
  right: -70px;
  bottom: 90px;
  transform: rotate(270deg);
}
