.about-heading .about-heading-border-1 {
  width: 10%;
  height: 1px;
  display: block;
}
.about-heading .about-heading-border-2 {
  width: 70%;
  height: 1px;
  display: block;
}
.mexuvo-download-btn a {
  box-shadow: 0 10px 15px -3px rgb(31, 31, 37), 0 4px 6px -2px rgb(31, 31, 37);
  -webkit-box-shadow: 0 10px 15px -3px rgb(31, 31, 37),
    0 4px 6px -2px rgb(31, 31, 37);
  -moz-box-shadow: 0 10px 15px -3px rgb(31, 31, 37),
    0 4px 6px -2px rgb(31, 31, 37);
}
.mexuvo-download-btn a:hover {
  box-shadow: 0 20px 25px -5px rgb(31, 31, 37), 0 10px 10px -5px rgb(31, 31, 37);
  -webkit-box-shadow: 0 20px 25px -5px rgb(31, 31, 37),
    0 10px 10px -5px rgb(31, 31, 37);
  -moz-box-shadow: 0 20px 25px -5px rgb(31, 31, 37),
    0 10px 10px -5px rgb(31, 31, 37);
}
.next-section-btn-text span {
  letter-spacing: 3px;
}
