.experienceEducation-heading .experienceEducation-heading-border-1 {
  width: 10%;
  height: 1px;
  display: block;
}
.experienceEducation-heading .experienceEducation-heading-border-2 {
  width: 50%;
  height: 1px;
  display: block;
}
.edu-years::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: -5.4px;
  top: 0;
  background: red;
  border-radius: 100%;
}
