@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.mexuvo-container-shape {
  border-radius: 0% 100% 0% 100% / 100% 32% 68% 0%;
}

/* btns */
.mexuvo-hire-btn a {
  box-shadow: 0 10px 15px -3px rgba(233, 66, 99, 0.4),
    0 4px 6px -2px rgba(233, 66, 99, 0.4);
  -webkit-box-shadow: 0 10px 15px -3px rgba(233, 66, 99, 0.4),
    0 4px 6px -2px rgba(233, 66, 99, 0.4);
  -moz-box-shadow: 0 10px 15px -3px rgba(233, 66, 99, 0.4),
    0 4px 6px -2px rgba(233, 66, 99, 0.4);
}
.mexuvo-hire-btn a:hover {
  box-shadow: 0 20px 25px -5px rgba(233, 66, 99, 0.4),
    0 10px 10px -5px rgba(233, 66, 99, 0.4);
  -webkit-box-shadow: 0 20px 25px -5px rgba(233, 66, 99, 0.4),
    0 10px 10px -5px rgba(233, 66, 99, 0.4);
  -moz-box-shadow: 0 20px 25px -5px rgba(233, 66, 99, 0.4),
    0 10px 10px -5px rgba(233, 66, 99, 0.4);
}

.mexuvo-btn a::after {
  content: "";
  z-index: -1;
  background-color: hsla(0, 0%, 100%, 0.2);
  position: absolute;
  top: -50%;
  bottom: -50%;
  width: 1.5rem;
  transform: translate3d(-1000%, 0, 0) rotate(35deg);
}
.mexuvo-btn a:hover::after {
  transition: transform 0.8s ease-in-out;
  transform: translate3d(1000%, 0, 0) rotate(35deg);
}
.mexuvo-btn a {
  z-index: 1;
  position: relative;
  overflow: hidden;
}
/* responsive */
@media (min-width: 640px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}
